/__pycache__/
/.DS_Store
assets/.DS_Store
*.pyc
ensemble/.DS_Store
xMethods.py
scripts/.DS_Store
pois/.DS_Store
io/.DS_Store
helper/.DS_Store
marc/.DS_Store
helper/io/.DS_Store
helper/.DS_Store
build/lib/.DS_Store
ensemble/models/.DS_Store
build/.DS_Store
assets/routes/.DS_Store
assets/examples/Example/data/.DS_Store
assets/examples/Example/.DS_Store
assets/examples/.DS_Store
assets/examples/Example/.DS_Store
assets/examples/Example/data/.DS_Store
assets/examples/.DS_Store
assets/pages/.DS_Store
assets/routes/.DS_Store
helper/.DS_Store
helper/io/.DS_Store
methods/.DS_Store
methods/marc/.DS_Store
methods/marc/core/.DS_Store
methods/marc/core/utils/.DS_Store
methods/pois/.DS_Store
methods/tec/.DS_Store
methods/tec/models/.DS_Store
methods/tulvae/.DS_Store
