/__pycache__/
/.DS_Store
assets/.DS_Store
*.pyc
ensemble/.DS_Store
xMethods.py
scripts/.DS_Store
pois/.DS_Store
io/.DS_Store
helper/.DS_Store
marc/.DS_Store
helper/io/.DS_Store
helper/.DS_Store
build/lib/.DS_Store
ensemble/models/.DS_Store
build/.DS_Store
assets/routes/.DS_Store
assets/examples/Example/data/.DS_Store
assets/examples/Example/.DS_Store
assets/examples/.DS_Store
assets/examples/Example/.DS_Store
assets/examples/Example/data/.DS_Store
assets/examples/.DS_Store
assets/pages/.DS_Store
assets/routes/.DS_Store
helper/.DS_Store
helper/io/.DS_Store
methods/.DS_Store
methods/marc/.DS_Store
methods/marc/core/.DS_Store
methods/marc/core/utils/.DS_Store
methods/pois/.DS_Store
methods/tec/.DS_Store
methods/tec/models/.DS_Store
methods/tulvae/.DS_Store
assets/examples/.DS_Store
assets/examples/Example/.DS_Store
assets/examples/Example/data/.DS_Store
helper/.DS_Store
methods/_lib/.DS_Store
methods/_lib/pymove/.DS_Store
methods/_lib/pymove/core/.DS_Store
methods/_lib/pymove/core/dirutils/.DS_Store
methods/_lib/pymove/models/.DS_Store
methods/_lib/pymove/models/classification/.DS_Store
helper/.DS_Store
.ipynb_checkpoints/script-checkpoint.py
.ipynb_checkpoints/requirements-checkpoint.txt
.ipynb_checkpoints/preprocessing-checkpoint.py
.ipynb_checkpoints/main-checkpoint.py
.ipynb_checkpoints/generator-checkpoint.py
.ipynb_checkpoints/analysis-checkpoint.py
assets/examples/.DS_Store
helper/.DS_Store
inc/.DS_Store
inc/io/.ipynb_checkpoints/converter-checkpoint.py
methods/_lib/.ipynb_checkpoints/datahandler-checkpoint.py
methods/_lib/.ipynb_checkpoints/geohash-checkpoint.py
methods/_lib/.ipynb_checkpoints/logger-checkpoint.py
methods/_lib/.ipynb_checkpoints/metrics-checkpoint.py
methods/_lib/pymove/models/.ipynb_checkpoints/metrics-checkpoint.py
methods/_lib/pymove/visualization/.DS_Store
methods/maintul/.DS_Store
methods/maintul/.ipynb_checkpoints/main-checkpoint.py
methods/maintul/.ipynb_checkpoints/loaddataset-checkpoint.py
methods/marc/.ipynb_checkpoints/marc_nn-checkpoint.py
methods/marc/src_marc/.DS_Store
methods/marc/src_marc/core/.DS_Store
methods/marc/src_marc/core/utils/.DS_Store
methods/movelet/.DS_Store
methods/movelet/.ipynb_checkpoints/classification-checkpoint.py
methods/movelet/.ipynb_checkpoints/moveletml-checkpoint.py
methods/pois/.ipynb_checkpoints/poifreq-checkpoint.py
methods/rf/.DS_Store
methods/rf/.ipynb_checkpoints/randomforrest-checkpoint.py
scripts/.ipynb_checkpoints/__init__-checkpoint.py
scripts/.ipynb_checkpoints/MAT-MC-checkpoint.py
scripts/.ipynb_checkpoints/MAT-TC-checkpoint.py
assets/examples/.DS_Store
helper/.DS_Store
.ipynb_checkpoints/results-checkpoint.py
inc/.ipynb_checkpoints/CDDiagram-checkpoint.py
inc/io/.DS_Store
methods/_lib/.ipynb_checkpoints/utils-checkpoint.py
methods/_lib/pymove/models/classification/.ipynb_checkpoints/Tuler-checkpoint.py
methods/_lib/pymove/models/classification/.ipynb_checkpoints/Tulvae-checkpoint.py
methods/deepest/.ipynb_checkpoints/001_Create_Deepest_model_BRIGHTKITE-checkpoint.py
methods/deepest/.ipynb_checkpoints/DeepestST-checkpoint.py
methods/tec/.ipynb_checkpoints/tec-checkpoint.py
methods/tuler/.ipynb_checkpoints/001_Create_TULVAE_model_BRIGHTKITE-checkpoint.py
methods/tuler/.DS_Store
methods/tuler/.ipynb_checkpoints/BITULER-checkpoint.py
methods/tuler/.ipynb_checkpoints/TULVAE-checkpoint.py
methods/xgboost/.ipynb_checkpoints/001_Create_XGBoost_model_BRIGHTKITE-checkpoint.py
methods/xgboost/.ipynb_checkpoints/XGBoost-checkpoint.py
.ipynb_checkpoints/README-checkpoint.md
methods/deepest/.DS_Store
methods/xgboost/.DS_Store
methods/tec/models/.ipynb_checkpoints/poifreq-checkpoint.py
inc/io/.DS_Store
.ipynb_checkpoints/citation-checkpoint.bib
.ipynb_checkpoints/run-checkpoint.py
assets/.ipynb_checkpoints/experimental_history-checkpoint.csv
methods/_lib/pymove/models/classification/.ipynb_checkpoints/DeepestST-checkpoint.py
methods/_lib/pymove/models/classification/.ipynb_checkpoints/RandomForest-checkpoint.py
methods/_lib/pymove/models/classification/.ipynb_checkpoints/XGBoost-checkpoint.py
methods/_lib/pymove/processing/.ipynb_checkpoints/gridutils-checkpoint.py
methods/_lib/pymove/processing/.ipynb_checkpoints/segment-checkpoint.py
methods/_lib/pymove/processing/.ipynb_checkpoints/trajutils-checkpoint.py
scripts/.ipynb_checkpoints/MARC-checkpoint.py
scripts/.ipynb_checkpoints/MAT-CheckRun-checkpoint.py
scripts/.ipynb_checkpoints/MAT-ExportResults-checkpoint.py
scripts/.ipynb_checkpoints/MAT-MergeDatasets-checkpoint.py
scripts/.ipynb_checkpoints/MAT-MoveDatasets-checkpoint.py
scripts/.ipynb_checkpoints/MAT-PrintResults-checkpoint.py
scripts/.ipynb_checkpoints/MAT-ResultsCheck-checkpoint.py
scripts/.ipynb_checkpoints/MAT-ResultsTo-checkpoint.py
scripts/.ipynb_checkpoints/MAT-TEC-checkpoint.py
scripts/.ipynb_checkpoints/old_POIS-TC-checkpoint.py
scripts/.ipynb_checkpoints/POIS-checkpoint.py
scripts/.ipynb_checkpoints/POIS-TC-checkpoint.py
.ipynb_checkpoints/graphics-checkpoint.py
.ipynb_checkpoints/visualization-checkpoint.py
