/__pycache__/
/.DS_Store
assets/.DS_Store
*.pyc
ensemble/.DS_Store
xMethods.py
scripts/.DS_Store
pois/.DS_Store
io/.DS_Store
helper/.DS_Store
marc/.DS_Store
helper/io/.DS_Store
helper/.DS_Store
build/lib/.DS_Store
ensemble/models/.DS_Store
build/.DS_Store
assets/routes/.DS_Store
assets/examples/Example/data/.DS_Store
assets/examples/Example/.DS_Store
assets/examples/.DS_Store
assets/examples/Example/.DS_Store
assets/examples/Example/data/.DS_Store
assets/examples/.DS_Store
assets/pages/.DS_Store
assets/routes/.DS_Store
helper/.DS_Store
helper/io/.DS_Store
methods/.DS_Store
methods/marc/.DS_Store
methods/marc/core/.DS_Store
methods/marc/core/utils/.DS_Store
methods/pois/.DS_Store
methods/tec/.DS_Store
methods/tec/models/.DS_Store
methods/tulvae/.DS_Store
assets/examples/.DS_Store
assets/examples/Example/.DS_Store
assets/examples/Example/data/.DS_Store
helper/.DS_Store
methods/_lib/.DS_Store
methods/_lib/pymove/.DS_Store
methods/_lib/pymove/core/.DS_Store
methods/_lib/pymove/core/dirutils/.DS_Store
methods/_lib/pymove/models/.DS_Store
methods/_lib/pymove/models/classification/.DS_Store
helper/.DS_Store
.ipynb_checkpoints/script-checkpoint.py
.ipynb_checkpoints/requirements-checkpoint.txt
.ipynb_checkpoints/preprocessing-checkpoint.py
.ipynb_checkpoints/main-checkpoint.py
.ipynb_checkpoints/generator-checkpoint.py
.ipynb_checkpoints/analysis-checkpoint.py
assets/examples/.DS_Store
helper/.DS_Store
inc/.DS_Store
inc/io/.ipynb_checkpoints/converter-checkpoint.py
methods/_lib/.ipynb_checkpoints/datahandler-checkpoint.py
methods/_lib/.ipynb_checkpoints/geohash-checkpoint.py
methods/_lib/.ipynb_checkpoints/logger-checkpoint.py
methods/_lib/.ipynb_checkpoints/metrics-checkpoint.py
methods/_lib/pymove/models/.ipynb_checkpoints/metrics-checkpoint.py
methods/_lib/pymove/visualization/.DS_Store
methods/maintul/.DS_Store
methods/maintul/.ipynb_checkpoints/main-checkpoint.py
methods/maintul/.ipynb_checkpoints/loaddataset-checkpoint.py
methods/marc/.ipynb_checkpoints/marc_nn-checkpoint.py
methods/marc/src_marc/.DS_Store
methods/marc/src_marc/core/.DS_Store
methods/marc/src_marc/core/utils/.DS_Store
methods/movelet/.DS_Store
methods/movelet/.ipynb_checkpoints/classification-checkpoint.py
methods/movelet/.ipynb_checkpoints/moveletml-checkpoint.py
methods/pois/.ipynb_checkpoints/poifreq-checkpoint.py
methods/rf/.DS_Store
methods/rf/.ipynb_checkpoints/randomforrest-checkpoint.py
scripts/.ipynb_checkpoints/__init__-checkpoint.py
scripts/.ipynb_checkpoints/MAT-MC-checkpoint.py
scripts/.ipynb_checkpoints/MAT-TC-checkpoint.py
assets/examples/.DS_Store
helper/.DS_Store
.ipynb_checkpoints/results-checkpoint.py
inc/.ipynb_checkpoints/CDDiagram-checkpoint.py
inc/io/.DS_Store
methods/_lib/.ipynb_checkpoints/utils-checkpoint.py
methods/_lib/pymove/models/classification/.ipynb_checkpoints/Tuler-checkpoint.py
methods/_lib/pymove/models/classification/.ipynb_checkpoints/Tulvae-checkpoint.py
methods/deepest/.ipynb_checkpoints/001_Create_Deepest_model_BRIGHTKITE-checkpoint.py
methods/deepest/.ipynb_checkpoints/DeepestST-checkpoint.py
methods/tec/.ipynb_checkpoints/tec-checkpoint.py
methods/tuler/.ipynb_checkpoints/001_Create_TULVAE_model_BRIGHTKITE-checkpoint.py
methods/tuler/.DS_Store
methods/tuler/.ipynb_checkpoints/BITULER-checkpoint.py
methods/tuler/.ipynb_checkpoints/TULVAE-checkpoint.py
methods/xgboost/.ipynb_checkpoints/001_Create_XGBoost_model_BRIGHTKITE-checkpoint.py
methods/xgboost/.ipynb_checkpoints/XGBoost-checkpoint.py
.ipynb_checkpoints/README-checkpoint.md
methods/deepest/.DS_Store
methods/xgboost/.DS_Store
methods/tec/models/.ipynb_checkpoints/poifreq-checkpoint.py
inc/io/.DS_Store
.ipynb_checkpoints/citation-checkpoint.bib
.ipynb_checkpoints/run-checkpoint.py
assets/.ipynb_checkpoints/experimental_history-checkpoint.csv
methods/_lib/pymove/models/classification/.ipynb_checkpoints/DeepestST-checkpoint.py
methods/_lib/pymove/models/classification/.ipynb_checkpoints/RandomForest-checkpoint.py
methods/_lib/pymove/models/classification/.ipynb_checkpoints/XGBoost-checkpoint.py
methods/_lib/pymove/processing/.ipynb_checkpoints/gridutils-checkpoint.py
methods/_lib/pymove/processing/.ipynb_checkpoints/segment-checkpoint.py
methods/_lib/pymove/processing/.ipynb_checkpoints/trajutils-checkpoint.py
scripts/.ipynb_checkpoints/MARC-checkpoint.py
scripts/.ipynb_checkpoints/MAT-CheckRun-checkpoint.py
scripts/.ipynb_checkpoints/MAT-ExportResults-checkpoint.py
scripts/.ipynb_checkpoints/MAT-MergeDatasets-checkpoint.py
scripts/.ipynb_checkpoints/MAT-MoveDatasets-checkpoint.py
scripts/.ipynb_checkpoints/MAT-PrintResults-checkpoint.py
scripts/.ipynb_checkpoints/MAT-ResultsCheck-checkpoint.py
scripts/.ipynb_checkpoints/MAT-ResultsTo-checkpoint.py
scripts/.ipynb_checkpoints/MAT-TEC-checkpoint.py
scripts/.ipynb_checkpoints/old_POIS-TC-checkpoint.py
scripts/.ipynb_checkpoints/POIS-checkpoint.py
scripts/.ipynb_checkpoints/POIS-TC-checkpoint.py
.ipynb_checkpoints/graphics-checkpoint.py
.ipynb_checkpoints/visualization-checkpoint.py
.ipynb_checkpoints/optionals-checkpoint.txt
assets/examples/Example/.DS_Store
assets/examples/.DS_Store
inc/io/.DS_Store
inc/io/.ipynb_checkpoints/results_read-checkpoint.py
inc/io/.DS_Store
assets/examples/Example/.DS_Store
assets/examples/.DS_Store
methods/_lib/pymove/models/.ipynb_checkpoints/lossutils-checkpoint.py
methods/tec/models/.ipynb_checkpoints/marc-checkpoint.py
.ipynb_checkpoints/automatize-web-checkpoint
.ipynb_checkpoints/movelets-checkpoint.py
.ipynb_checkpoints/pyproject-checkpoint.toml
.ipynb_checkpoints/setup-checkpoint.py
assets/routes/.ipynb_checkpoints/page_analysis-checkpoint.py
assets/routes/.ipynb_checkpoints/subpage_models-checkpoint.py
assets/routes/.ipynb_checkpoints/page_datasets-checkpoint.py
assets/routes/.ipynb_checkpoints/subpage_trajectories-checkpoint.py
assets/examples/.DS_Store
assets/examples/.DS_Store
scripts/.ipynb_checkpoints/MAT-ExportMovelets-checkpoint.py
.ipynb_checkpoints/__init__-checkpoint.py
.ipynb_checkpoints/xvisualization-checkpoint.py
assets/routes/.ipynb_checkpoints/page_experiments-checkpoint.py
assets/routes/.ipynb_checkpoints/page_results-checkpoint.py
inc/.ipynb_checkpoints/__init__-checkpoint.py
inc/.ipynb_checkpoints/datasets_def-checkpoint.py
inc/.ipynb_checkpoints/script_def-checkpoint.py
inc/io/.ipynb_checkpoints/ts_io-checkpoint.py
methods/marc/src_marc/.ipynb_checkpoints/MARC-checkpoint.py
methods/marc/src_marc/core/.ipynb_checkpoints/logger-checkpoint.py
methods/marc/src_marc/core/utils/.ipynb_checkpoints/geohash-checkpoint.py
methods/marc/src_marc/core/utils/.ipynb_checkpoints/metrics-checkpoint.py
methods/pois/.ipynb_checkpoints/model_poifreq-checkpoint.py
methods/tec/models/.ipynb_checkpoints/X_DEPRECATED_poifreq-checkpoint.py
scripts/deprecated/.ipynb_checkpoints/old_POIS-TC-checkpoint.py
assets/method/.DS_Store
assets/.ipynb_checkpoints/appstyle-checkpoint.css
assets/.ipynb_checkpoints/config-checkpoint.py
src/automatize/scripts/_deprecated/.DS_Store
src/automatize/scripts/.DS_Store
src/automatize/methods/xgboost/.DS_Store
src/automatize/methods/tuler/.DS_Store
src/automatize/methods/tec/models/.DS_Store
src/automatize/methods/tec/.DS_Store
src/automatize/methods/rf/.DS_Store
src/automatize/methods/pois/.DS_Store
src/automatize/methods/movelet/.DS_Store
src/automatize/methods/marc/src_marc/core/utils/.DS_Store
src/automatize/methods/marc/src_marc/core/.ipynb_checkpoints/logger-checkpoint.py
src/automatize/methods/marc/src_marc/.ipynb_checkpoints/MARC-checkpoint.py
src/automatize/methods/marc/src_marc/core/.DS_Store
src/automatize/methods/marc/src_marc/.DS_Store
src/automatize/methods/_underdev/maintul/temp/.gitkeep
src/automatize/methods/_underdev/maintul/appendix/.ipynb_checkpoints/IJCAI__22_MainTUL_Appendix-checkpoint.pdf
src/automatize/methods/_underdev/maintul/.DS_Store
src/automatize/methods/_underdev/.DS_Store
src/automatize/methods/_lib/pymove/visualization/.DS_Store
src/automatize/methods/_lib/pymove/processing/.DS_Store
src/automatize/methods/_lib/pymove/models/classification/.DS_Store
src/automatize/methods/_lib/pymove/models/.DS_Store
src/automatize/methods/_lib/pymove/core/dirutils/.DS_Store
src/automatize/methods/_lib/pymove/core/.DS_Store
src/automatize/methods/_lib/pymove/.DS_Store
src/automatize/methods/_lib/.DS_Store
src/automatize/methods/.DS_Store
src/automatize/inc/io/.DS_Store
src/automatize/inc/.ipynb_checkpoints/script_def-checkpoint.py
src/automatize/inc/.DS_Store
src/automatize/assets/routes/.DS_Store
src/automatize/assets/pages/.DS_Store
src/automatize/assets/method/.DS_Store
src/automatize/assets/examples/Example/data/.DS_Store
src/automatize/assets/examples/Example/.DS_Store
src/automatize/assets/examples/.DS_Store
src/automatize/assets/.DS_Store
src/automatize/.DS_Store
src/.DS_Store
.ipynb_checkpoints/MANIFEST-checkpoint.in
dist/automatize-1.0b7.tar.gz
dist/automatize-1.0b7-py3-none-any.whl
dist/.DS_Store
.ipynb_checkpoints/Dockerfile-checkpoint
.ipynb_checkpoints/Steps to Build-checkpoint.txt
dist/automatize-1.0b8-py3-none-any.whl
dist/automatize-1.0b8.tar.gz
src/automatize/.ipynb_checkpoints/README-checkpoint.md
dist/automatize-1.0b9-py3-none-any.whl
dist/automatize-1.0b9.tar.gz
